form#login-form(ng-submit='login()')
  p.bg-info(ng-show='errMsg')="Email or password is incorrect"
  label(for='email')="Email"
  br
  input#email(name='email', type='email', ng-model='email', required)
  br
  label(for='password')="Password"
  br
  input#password(name='password', type='password', ng-model='password', required)
  br
  input#remember(name='remember', type='checkbox', style='margin-bottom: 15px')
  label(for='remember')="Remember me"
  br
  input.blue-btn(type='submit', value='Log In')
  a.blue-btn(href='/signup')="Sign Up"
  br
  a.forgot-password(href='#')="Forgot password"
