block content
  div.row
    div.col-sm-12
      h2!='{{results.firstName}}' + ' ' + '{{results.lastName}}'
  div.row
    div.col-sm-4
      section
        img.img-responsive.profile-pic(src='{{results.photo}}', alt='{{results.firstName}}', style='background: black')
      section
        header
          h4="Contacts"
    div.col-sm-8
      section
        header
          h3="Location"
        div(style='display: flex')
          div(style='flex: 1')
            p!='{{results.address.street}}'+'<br>'+'{{results.address.apt}}'+'<br>'+'{{results.address.city}}'+', '+'{{results.address.state}}'+' '+'{{results.address.zip}}'
          div(style='flex: 1')
            div#map
      section
        header
          h3="Instruments"
        div.instruments
          ul.boxes
            li.instrument(ng-repeat='instrument in results.instruments')
              p.cap!='<b>'+'{{instrument.name}}'+'</b>'
              p.cap='{{instrument.skill}}'
              p!='{{instrument.years}}'+('{{instrument.years}}'==1 ? " year" : " years")
      section
        header
          h3="Genres"
        div.genres
          ul.boxes
            li.genre.cap(ng-repeat='genre in results.genres')='{{genre}}'
      section
        header
          h3="Influences"
        div.influences
          ul.boxes
            li.influence.cap(ng-repeat='influence in results.influences')='{{influence}}'
