doctype html
html(lang='en')
  block scripts
    title="Band.jo"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='modules/angular/angular.js')
    script(src='modules/angular-route/angular-route.js')
    script(src='modules/angular-animate/angular-animate.js')
    //script(src='modules/angular-cookies/angular-cookies.js')
    script(src='assets/js/controllers.js')
    script(src='assets/js/routes.js')
    //script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBkKaE--mik3N8qLk0D2494Eq-tQgMntds&callback=initMap', async, defer)
    link(rel='stylesheet', href='assets/css/style.min.css')
    //script(src='../js/maps.min.js')
  body(ng-app='myApp')
    block header
      header(ng-controller='LoginCtrl')
        nav.navbar.navbar-default
          div.container
            div.navbar-header
              a.navbar-brand(href='/')="Bandjo"
            div.navbar-right
              div.dropdown(ng-show='loggedIn')
                a(role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.name='{{firstName+" "+lastName}}'
                  img.profile-pic-small(src='{{loggedInImage}}')
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/profile')="Profile"
                  li.divider(role='separator')
                  li
                    a(href='#', ng-click='logout()')="Log Out"
              div.login(ng-hide='loggedIn')
                form.form-inline(ng-submit='login()')
                  div.form-group
                    label.sr-only(for='loginEmail')="Email"
                    input#loginEmail.form-control(name='email', type='email', ng-model='email', placeholder='Email', required)
                  div.form-group
                    label.sr-only(for='loginPassword')="Password"
                    input#loginPassword.form-control(name='password', type='password', ng-model='password', placeholder='Password', required)
                  div.form-group
                    input.blue-btn(type='submit', value='Log In')
                  p.login-err(ng-show='errMsg')="Email or password is incorrect"
    block content
      main.container
        div.row
          div.col-sm-4
            include partials/login
          div.col-sm-8
            h2="What are you doing here?"
    block footer
      footer
        div.container
          small="Bandjo is maintained by Blake Boucher. Go tell 'em."
