extends ./layout.jade

append scripts
  script(src='../js/validation.js')

block content
  main.container
    div.row
      if errMsg
        p.bg-info=errMsg
      form#signup-form.white(action='/signup', method='post')
        table
          tr
            td
              label(for='first-name')="First Name"
              br
              input#first-name(name='firstName', type='text', value=prevInfo.firstName)
            td
              label(for='last-name')="Last Name"
              br
              input#last-name(name='lastName', type='text', value=prevInfo.lastName)
          tr
            td
              label(for='email')="Email"
              br
              input#email(name='email', type='email', verify-target='email2', value=prevInfo.email)
            td
              label(for='email2')="Re-enter Email"
              br
              input#email2(name='email2', type='email', verify-target='email')
          tr
            td
              label(for='password')="Password"
              br
              input#password(name='password', type='password', verify-target='password2')
            td
              label(for='password2')="Re-enter Password"
              br
              input#password2(name='password2', type='password', verify-target='password')
          tr
            td
              input.blue-btn(type='submit', value='Sign Up')
